<%- include('templates/header') %>
  <!-- <h1>Reset Your Password</h1>
<form action="/update-password" method="POST">
  <input type="hidden" name="userId" value="<%= id %>">
  <input type="hidden" name="token" value="<%= token %>">

  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required>

  <label for="repeatPassword">Repeat New Password:</label>
  <input type="password" id="repeatPassword" name="repeatPassword" required>

  <button type="submit">Submit New Password</button>
</form> -->

  <main class="form-signin w-100 m-auto">
  <form action="/update-password" method="POST">
    <img class="mb-4" src="/img/favicon.ico" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Reset Your Password</h1>

    <input type="hidden" name="userId" value="<%= id %>">
    <input type="hidden" name="token" value="<%= token %>">

    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password"  fdprocessedid="s85vqm" required>
      <label for="password">New Password</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" fdprocessedid="k965wp" required>
      <label for="repeatPassword">Repeat New Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit" fdprocessedid="3smvm7">Submit New Password</button>
    
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
  </form>
</main>
  <%- include('templates/footer') %>