<%- include('templates/header') %>
<h1>Order Details</h1>
<ul>
  <% orders.forEach(order => { %>
    <li>
      Order Number: <%= order.orderNumber %>, 
      Address: <%= order.address %>,
      Date: <%= order.date.toDateString() %>,
      <a href="/tracking/<%= order.orderNumber %>">Track Order</a>
    </li>
  <% }) %>
</ul>

<h2>Shopping Cart</h2>
<% if (cart && cart.models) { %>
  <ul>
    <% for (let model in cart.models) { %>
      <li>
        <img src="/img/robots/<%= cart.models[model].model %>.png" alt="<%= cart.models[model].model %>" width="100" height="100">
        <p><%= cart.models[model].model %> - $<%= cart.models[model].price %> x <%= cart.models[model].qty %></p>
      </li>
    <% } %>
  </ul>
  <p>Total Quantity: <%= cart.totalQty %></p>
  <p>Total Price: $<%= cart.totalPrice %></p>
<% } else { %>
  <p>Your cart is empty.</p>
<% } %>
<%- include('templates/footer') %>
