<link rel="stylesheet" type="text/css" href="/css/style_order.css">
<%- include('templates/header') %>
<h1>Order Details: </h1>
<div class="order-container">
  <% orders.forEach(order => { %>
    <div class="order-card">
      <div class="order-header">
        <span>Order Number: <%= order.orderNumber %></span>
        <span>Date: <%= order.date.toDateString() %></span>
        <span class="order-status">PAYED</span>
        <a href="/tracking/<%= order.orderNumber %>" class="track-order">Track Order</a>

      </div>
      <div class="order-body">
        <div class="order-images">
          <% if (cart && cart.models) { %>
            <% for (let model in cart.models) { %>
              <img src="/img/robots/<%= cart.models[model].model %>.png" alt="<%= cart.models[model].model %>">
            <% } %>
          <% } %>
        </div>
      </div>
      <div class="order-footer">
        <span class="order-total">Total Price: $<%= (cart.totalPrice + 4.99).toFixed(2) %></span><br>
      </div>
    </div>
  <% }) %>
</div>
<%- include('templates/footer') %>
