<%- include("templates/header") %>
  <h1>My Profile</h1>
  <section style="background-color: #eee;">
    <div id="mainDiv" class="container py-5">
      <div id="formDiv">
        <form action="/update/<%= user.email %>" method="post">
          <div class="col-lg-8">
            <div class="card mb-2">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <label for="email" class="form-label">Email address</label>
                  </div>
                  <div class="col-sm-9">
                    <fieldset disabled>
                      <div class="mb-3">
                        <input type="email" name="email" class="form-control" id="emailprofile"
                          aria-describedby="emailHelp" placeholder="email address" style="width: auto"
                          value="<%= user.email %>">
                      </div>
                    </fieldset>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="username" class="form-label">Username</label>
                  </div>
                  <div class="col-sm-9">
                    <fieldset disabled>
                      <div class="mb-3">
                        <input type="email" name="username" class="form-control" id="usernameprofile"
                          aria-describedby="userHelp" placeholder="username" style="width: auto"
                          value="<%= user.username %>">
                      </div>
                    </fieldset>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="address" class="form-label">Address</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="mb-3">
                      <input type="text" name="address" class="form-control" id="address" aria-describedby="addressHelp"
                        style="width: auto" value="<%= user.address %>">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="city" class="form-label">City</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="mb-3">
                      <input type="text" name="city" class="form-control" id="city" aria-describedby="cityHelp"
                        style="width: auto" value="<%= user.city %>">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="province" class="form-label">Province</label>
                  </div>
                  <div class="col-sm-9">
                    <fieldset>
                      <div class="mb-3">
                        <select name="province" id="province" class="form-select" aria-label="Default select example" style="width: auto">
                          <option value="AB">AB</option>
                          <option value="BC">BC</option>
                          <option value="MB">MB</option>
                          <option value="NB">NB</option>
                          <option value="NL">NL</option>
                          <option value="NS">NS</option>
                          <option value="ON">ON</option>
                          <option value="PE">PE</option>
                          <option value="QC">QC</option>
                          <option value="SK">SK</option>
                          <option value="NT">NT</option>
                          <option value="NU">NU</option>
                          <option value="YT">YT</option>
                        </select>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="postal" class="form-label">Postal</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="mb-3">
                      <input type="text" name="postal" class="form-control" id="postal" aria-describedby="postalHelp"
                        style="width: auto" value="<%= user.postal %>">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <a href="/logout" class="nav-link text-white">
              <button style="margin-top: 8px;" type="button" class="btn btn-danger">Logout</button>
            </a>

            <div class="row">
            </div>
          </div>
        </form>
      </div>
      <div id="imgDiv">
        <img id="sideBot" src="/img/HSR-3_speech.png" alt="robotPic">
      </div>
    </div>
    </div>
  </section>

  <script>
    // Get the select element by its ID
    const selectElement = document.getElementById('province');
    
    // Find the option element with value equal to 'something'
    const optionElement = selectElement.querySelector("option[value='<%= user.province %>']");
    
    // If the option element is found, toggle the 'selected' attribute
    if (optionElement) {
        optionElement.setAttribute('selected', 'selected');
    }
    </script>
  <%- include("templates/footer") %>