<%- include("templates/header") %>
  <div class="bd-example m-0 border-0">
    <h2>User Profile</h2>
    <form action="/update/<%= user.email %>" method="post">
      <!--EMAIL-->
      <fieldset disabled>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="emailprofile" aria-describedby="emailHelp"
            placeholder="email address" style="width: auto" value="<%= user.email %>">
        </div>
      </fieldset>

      <!--USERNAME-->
      <fieldset disabled>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="email" name="username" class="form-control" id="usernameprofile" aria-describedby="emailHelp"
            placeholder="username" style="width: auto" value="<%= user.username %>">
        </div>
      </fieldset>

      <!--PASSWORD-->
      <!-- <fieldset disabled>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="passwordprofile" aria-describedby="emailHelp"
            placeholder="password" style="width: auto">
        </div>
      </fieldset> -->

      <!--ADDRESS-->
      <fieldset>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text" name="address" class="form-control" id="address" aria-describedby="emailHelp" style="width: auto"
            value="<%= user.address %>">
          <label for="city" class="form-label">City</label>
          <input type="text" name="city" class="form-control" id="city" aria-describedby="emailHelp" style="width: auto"
            value="<%= user.city %>">
          <label for="province" class="form-label">Province</label>
          <input type="text" name="province" class="form-control" id="province" aria-describedby="emailHelp" style="width: auto"
            value="<%= user.province %>">
          <label for="postal" class="form-label">Postal/Zip Code</label>
          <input type="text" name="postal" class="form-control" id="postal" aria-describedby="emailHelp" style="width: auto"
            value="<%= user.postal %>">
        </div>
      </fieldset>

      <!-- NAME-->
      <!-- <fieldset>
        <div class="mb-3">
          <label for="firstname" class="form-label">First Name</label>
          <input type="password" class="form-control" id="nameprofile" placeholder="first name"
            style="width: auto">
            <br>
          <label for="lastname" class="form-label">Last Name</label>
          <input type="password" class="form-control" id="nameprofile" placeholder="last name"
            style="width: auto">
        </div>
      </fieldset> -->

      <!--PHONE NUMBER-->
      <!-- <div class="mb-3">
        <label for="phonenumber" class="form-label">Phone Number</label>
        <input type="password" class="form-control" id="phoneprofile"
          placeholder="phone number" style="width: auto">
      </div> -->

      <!--DATE OF BIRTH-->
      <!-- <fieldset>
        <div class="mb-3">
          <label for="dob" class="form-label">Date of Birth</label>
          <br>
          <input type="text" name="bday" id="bday" size="2" maxlength="2" placeholder="DD">
          <input type="month" name="bmonth" id="bmonth" size="2" maxlength="2" placeholder="MM">
          <input type="text" name="byear" id="byear" size="4" maxlength="4" placeholder="YYYY">
        </div>
      </fieldset> -->

      <!--GENDER-->
      <!-- <fieldset>
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" aria-label="Default select example" style="width: auto">
            <option selected>--Select one--</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
          </select>
        </div>
      </fieldset> -->

      <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  <%- include("templates/footer") %>