<%- include("templates/header") %>
<h1>Hello, <%= username %>.</h1>

<div id="companyCards">
<%- include('templates/companycard.ejs', {
    id: '1', 
    imageSrc: 'img/banners/Boston Dynamics Banner.png',
    companyName: 'Boston Dynamics',
    description: 'The introduction of Boston Dynamics\' first Atlas in 2013 marked a significant milestone in robotics, with subsequent iterations showcasing advancements in technology and design.',
    name: 'Atlas V'
}); %>

<%- include('templates/companycard.ejs', {
    id: '2', 
    imageSrc: 'img/banners/Hahne Kedar Banner.png',
    companyName: 'Hahne-Kedar',
    description: 'Hahne-Kedar\'s Tempest excels in challenging environments, reflecting the company\'s dedication to rugged and reliable robotics since its establishment in 2030.',
    name: 'Tempest'
}); %>

<%- include('templates/companycard.ejs', {
    id: '3',
    imageSrc: 'img/banners/iRobot Banner.png',
    companyName: 'iRobot',
    description: 'iRobot\'s LifeMate exemplifies seamless robotic integration into daily life, offering a range of services from hospitality to companionship.',
    name: 'LifeMate'
}); %>

<%- include('templates/companycard.ejs', {
    id: '4',
    imageSrc: 'img/banners/NovaGen Banner.png',
    companyName: 'NovaGen',
    description: 'NovaGen\'s NGX-2000 reflects reliability and security, equipped with advanced AI for diverse environments, positioning the company as a leader in advanced robotics technology.',
    name: 'NGX-2000' 
}); %>

<%- include('templates/companycard.ejs', {
    id: '5',
    imageSrc: 'img/banners/Seraph AI Banner.png',
    companyName: 'Seraph AI',
    description: 'Seraph AI\'s Aegis VII has a capacity to transcend conventional understanding marks a paradigm shift in AI robotics, harmonizing technology with human interaction.',
    name: 'Aegis VII'
}); %>

<%- include('templates/companycard.ejs', {
    id: '6',
    imageSrc: 'img/banners/Toyota Banner.png',
    companyName: 'Toyota Research Institute',
    description: 'Leveraging automotive expertise since 1937, Toyota\'s HSR-3 embodies versatility and companionship, redefining technology\'s role in society.',
    name: 'HSR-3'
}); %>
</div>

<div id="roboModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<a href="/cart"><button class="btn btn-primary">View Cart</button></a>

<script src="../js/robots.js"></script>


    <!-- Start of ChatBot (www.chatbot.com) code -->
        <script type="text/javascript">
            window.__be = window.__be || {};
            window.__be.id = "664d85095a4603000754247a";
            (function() {
                var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
                be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
            })();
        </script>
        <noscript>You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/" rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a></noscript>
    <!-- End of ChatBot code -->
<%- include("templates/footer") %>