<div class="companyCard card m-3" roboName="<%= name %>" roboID="<%= id %>" company="<%= companyName %>"
    style="width: 18rem;">
    <img src="<%= imageSrc %>" class="card-img-top" alt="<%= companyName %>">
    <div class="card-body">
        <p class="card-text"><b>
                <%= companyName %>
            </b>
            <%= name %>
        </p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#roboModal">Learn more</button>
        <a href="/add-to-cart/<%= name %>"><button type="button" class="btn btn-secondary">Rent now</button></a>
    </div>
</div>